* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

#score {
    color: white;
    position: fixed;
    margin: 1em;
    z-index: 1000;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
